/*Comandos básicos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/*Header sendo estilizado*/

header {
  background-color: black;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Rodapé do site*/

footer {
  background-color: black;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15rem;
}

/*Botoes, imagens, títulos e links*/

button, img {
  margin: 0.5rem;
  background-color: white;
}

h1, a {
  color: white;
  justify-content: space-between;
}

h1 {
  height: 2rem;
  margin: 2rem;
}

/*Imagem e paragrafo*/

.sectionum {
  display: flex;
  align-items: center;
  margin-left: 8.6rem;
  margin-top: 3rem;
}

.div1 {
  display: flex;
  flex-flow: column;

}

body{
  color: purple;
}

.sectionum p {
  font-size: 1rem;
  margin-top: 2rem;
  margin-right: 8rem;
  width: 50rem;
}

.sectiondois {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  margin-top: 7rem;
}

.links{
  justify-content: space-between;
  margin-right: 3rem;
  gap: 1rem;
}

ul{
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 16px;
  list-style-type: none
  
}

.img {
  margin-right: 6rem;
}

.sectiontres {
  display: flex;
  flex-direction: row;
  margin-left: 60rem;
  margin-inline-end: 30rem;
}

.hobbiess{
  margin-left: 22rem;
}

li {
  display: flex;
  width: 103px;
  height: 150px;
  padding: 17px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  background: #DFDFDF;
}

